<nav>
    <nav>
        <div class="site-title">
            <a href="/"><h1>Rotnîr BRPG</h1></a>
            <p>Welcome traveller!</p>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/GameFrame">Play</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>
</nav>